@font-face {
  font-family: 'IconFamous';
  src: url("font/IconFamous.woff2") format("woff2"), url("font/IconFamous.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

.if {
  font: normal normal normal 14px/1 IconFamous;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: inline-block; }

.if-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.if-2x {
  font-size: 2em; }

.if-3x {
  font-size: 3em; }

.if-4x {
  font-size: 4em; }

.if-5x {
  font-size: 5em; }

.if-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

.if-pulse {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

    .if-address-book-o:before {
      content: "\0001";
    }

    
    .if-address-book:before {
      content: "\0002";
    }

    
    .if-address-card:before {
      content: "\0003";
    }

    
    .if-adjust:before {
      content: "\0004";
    }

    
    .if-admin-user:before {
      content: "\0005";
    }

    
    .if-admin-users:before {
      content: "\0006";
    }

    
    .if-area-chart:before {
      content: "\0007";
    }

    
    .if-arrow-left-right:before {
      content: "\0008";
    }

    
    .if-arrows:before {
      content: "\0009";
    }

    
    .if-arrow-up-down:before {
      content: "\0010";
    }

    
    .if-asl-interpreting:before {
      content: "\0011";
    }

    
    .if-assistive-listening-systems:before {
      content: "\0012";
    }

    
    .if-asterisk:before {
      content: "\0013";
    }

    
    .if-at:before {
      content: "\0014";
    }

    
    .if-audio-description:before {
      content: "\0015";
    }

    
    .if-balance-scale:before {
      content: "\0016";
    }

    
    .if-ban:before {
      content: "\0017";
    }

    
    .if-bank:before {
      content: "\0018";
    }

    
    .if-bar-chart:before {
      content: "\0019";
    }

    
    .if-bar-code:before {
      content: "\0020";
    }

    
    .if-bars:before {
      content: "\0021";
    }

    
    .if-bath:before {
      content: "\0022";
    }

    
    .if-battery-empty:before {
      content: "\0023";
    }

    
    .if-battery-full:before {
      content: "\0024";
    }

    
    .if-battery-quartz:before {
      content: "\0025";
    }

    
    .if-bed:before {
      content: "\0026";
    }

    
    .if-beer:before {
      content: "\0027";
    }

    
    .if-bell-o:before {
      content: "\0028";
    }

    
    .if-bell:before {
      content: "\0029";
    }

    
    .if-bell-slash-o:before {
      content: "\0030";
    }

    
    .if-bell-slash:before {
      content: "\0031";
    }

    
    .if-bicycle:before {
      content: "\0032";
    }

    
    .if-binoculars:before {
      content: "\0033";
    }

    
    .if-birthday-cake:before {
      content: "\0034";
    }

    
    .if-blind:before {
      content: "\0035";
    }

    
    .if-bluetooth:before {
      content: "\0036";
    }

    
    .if-bluetooth-square:before {
      content: "\0037";
    }

    
    .if-bolt-o:before {
      content: "\0038";
    }

    
    .if-bolt:before {
      content: "\0039";
    }

    
    .if-bomb:before {
      content: "\0040";
    }

    
    .if-book:before {
      content: "\0041";
    }

    
    .if-bookmark:before {
      content: "\0042";
    }

    
    .if-bookmark-o:before {
      content: "\0043";
    }

    
    .if-boomcdn:before {
      content: "\0044";
    }

    
    .if-braille:before {
      content: "\0045";
    }

    
    .if-briefcase:before {
      content: "\0046";
    }

    
    .if-bug:before {
      content: "\0047";
    }

    
    .if-building:before {
      content: "\0048";
    }

    
    .if-building-o:before {
      content: "\0049";
    }

    
    .if-bulleyes:before {
      content: "\0050";
    }

    
    .if-bullhorn:before {
      content: "\0051";
    }

    
    .if-bus:before {
      content: "\0052";
    }

    
    .if-cab:before {
      content: "\0053";
    }

    
    .if-calculator:before {
      content: "\0054";
    }

    
    .if-calendar-cross:before {
      content: "\0055";
    }

    
    .if-calendar-e:before {
      content: "\0056";
    }

    
    .if-calendar-f:before {
      content: "\0057";
    }

    
    .if-calendar-minus:before {
      content: "\0058";
    }

    
    .if-calendar-plus:before {
      content: "\0059";
    }

    
    .if-calendar-tick:before {
      content: "\0060";
    }

    
    .if-camera:before {
      content: "\0061";
    }

    
    .if-camera-retro:before {
      content: "\0062";
    }

    
    .if-car:before {
      content: "\0063";
    }

    
    .if-caret-square-o-down:before {
      content: "\0064";
    }

    
    .if-caret-square-o-left:before {
      content: "\0065";
    }

    
    .if-caret-square-o-right:before {
      content: "\0066";
    }

    
    .if-caret-square-o-right-square:before {
      content: "\0067";
    }

    
    .if-caret-square-o-up:before {
      content: "\0068";
    }

    
    .if-cart-arrow-down:before {
      content: "\0069";
    }

    
    .if-cart-arrow-plus:before {
      content: "\0070";
    }

    
    .if-cc:before {
      content: "\0071";
    }

    
    .if-certificate:before {
      content: "\0072";
    }

    
    .if-check:before {
      content: "\0073";
    }

    
    .if-check-square:before {
      content: "\0074";
    }

    
    .if-child:before {
      content: "\0075";
    }

    
    .if-circle:before {
      content: "\0076";
    }

    
    .if-circle-e:before {
      content: "\0077";
    }

    
    .if-circle-o-notch:before {
      content: "\0078";
    }

    
    .if-circle-slim:before {
      content: "\0079";
    }

    
    .if-circular-check:before {
      content: "\0080";
    }

    
    .if-circular-check-o:before {
      content: "\0081";
    }

    
    .if-clock:before {
      content: "\0082";
    }

    
    .if-clone:before {
      content: "\0083";
    }

    
    .if-close:before {
      content: "\0084";
    }

    
    .if-cloud:before {
      content: "\0085";
    }

    
    .if-cloud-o:before {
      content: "\0086";
    }

    
    .if-cloud-upload:before {
      content: "\0087";
    }

    
    .if-code:before {
      content: "\0088";
    }

    
    .if-code-fork:before {
      content: "\0089";
    }

    
    .if-coffee:before {
      content: "\0090";
    }

    
    .if-cog:before {
      content: "\0091";
    }

    
    .if-cogs:before {
      content: "\0092";
    }

    
    .if-comment:before {
      content: "\0093";
    }

    
    .if-comment-dots:before {
      content: "\0094";
    }

    
    .if-comment-o:before {
      content: "\0095";
    }

    
    .if-comment-o-dots:before {
      content: "\0096";
    }

    
    .if-comments:before {
      content: "\0097";
    }

    
    .if-comments-o:before {
      content: "\0098";
    }

    
    .if-compass:before {
      content: "\0099";
    }

    
    .if-copyright:before {
      content: "\0100";
    }

    
    .if-creative-community:before {
      content: "\0101";
    }

    
    .if-credit-card:before {
      content: "\0102";
    }

    
    .if-credit-card-o:before {
      content: "\0103";
    }

    
    .if-crop:before {
      content: "\0104";
    }

    
    .if-crosshairs:before {
      content: "\0105";
    }

    
    .if-cube:before {
      content: "\0106";
    }

    
    .if-cubes:before {
      content: "\0107";
    }

    
    .if-cutlery:before {
      content: "\0108";
    }

    
    .if-dashboard:before {
      content: "\0109";
    }

    
    .if-data:before {
      content: "\0110";
    }

    
    .if-database-o:before {
      content: "\0111";
    }

    
    .if-database:before {
      content: "\0112";
    }

    
    .if-diamond:before {
      content: "\0113";
    }

    
    .if-dot-circle-o:before {
      content: "\0114";
    }

    
    .if-download:before {
      content: "\0115";
    }

    
    .if-download-arrow:before {
      content: "\0116";
    }

    
    .if-edit:before {
      content: "\0117";
    }

    
    .if-ellipsis-h:before {
      content: "\0118";
    }

    
    .if-ellipsis-v:before {
      content: "\0119";
    }

    
    .if-ellipsis-circle-h:before {
      content: "\0120";
    }

    
    .if-ellipsis-circle-v:before {
      content: "\0121";
    }

    
    .if-envelop-o:before {
      content: "\0122";
    }

    
    .if-envelop:before {
      content: "\0123";
    }

    
    .if-envelope-square:before {
      content: "\0124";
    }

    
    .if-envelop-open:before {
      content: "\0125";
    }

    
    .if-envelop-open-o:before {
      content: "\0126";
    }

    
    .if-eraser:before {
      content: "\0127";
    }

    
    .if-exchange:before {
      content: "\0128";
    }

    
    .if-exclamation:before {
      content: "\0129";
    }

    
    .if-exclamation-circle:before {
      content: "\0130";
    }

    
    .if-exclamation-triangle:before {
      content: "\0131";
    }

    
    .if-external-link:before {
      content: "\0132";
    }

    
    .if-external-link-square:before {
      content: "\0133";
    }

    
    .if-eye:before {
      content: "\0134";
    }

    
    .if-eyedropper:before {
      content: "\0135";
    }

    
    .if-eye-slash:before {
      content: "\0136";
    }

    
    .if-facebook:before {
      content: "\0137";
    }

    
    .if-famousis:before {
      content: "\0138";
    }

    
    .if-famousui:before {
      content: "\0139";
    }

    
    .if-fax:before {
      content: "\0140";
    }

    
    .if-feed:before {
      content: "\0141";
    }

    
    .if-fighter-jet:before {
      content: "\0142";
    }

    
    .if-file-archive:before {
      content: "\0143";
    }

    
    .if-file-audio:before {
      content: "\0144";
    }

    
    .if-file-code:before {
      content: "\0145";
    }

    
    .if-file-excel:before {
      content: "\0146";
    }

    
    .if-file-image:before {
      content: "\0147";
    }

    
    .if-file-movie:before {
      content: "\0148";
    }

    
    .if-file-pdf:before {
      content: "\0149";
    }

    
    .if-file-photo:before {
      content: "\0150";
    }

    
    .if-file-picture:before {
      content: "\0151";
    }

    
    .if-file-powerpoint:before {
      content: "\0152";
    }

    
    .if-file-video:before {
      content: "\0153";
    }

    
    .if-file-word:before {
      content: "\0154";
    }

    
    .if-file-zip:before {
      content: "\0155";
    }

    
    .if-film:before {
      content: "\0156";
    }

    
    .if-filter:before {
      content: "\0157";
    }

    
    .if-fire:before {
      content: "\0158";
    }

    
    .if-fire-exhaust:before {
      content: "\0159";
    }

    
    .if-flag:before {
      content: "\0160";
    }

    
    .if-flag-checkered:before {
      content: "\0161";
    }

    
    .if-flag-o:before {
      content: "\0162";
    }

    
    .if-flash:before {
      content: "\0163";
    }

    
    .if-flash-o:before {
      content: "\0164";
    }

    
    .if-flask:before {
      content: "\0165";
    }

    
    .if-flask-empty:before {
      content: "\0166";
    }

    
    .if-folder:before {
      content: "\0167";
    }

    
    .if-folder-o:before {
      content: "\0168";
    }

    
    .if-folder-open:before {
      content: "\0169";
    }

    
    .if-folder-open-o:before {
      content: "\0170";
    }

    
    .if-football:before {
      content: "\0171";
    }

    
    .if-forward:before {
      content: "\0172";
    }

    
    .if-frown:before {
      content: "\0173";
    }

    
    .if-gameboard:before {
      content: "\0174";
    }

    
    .if-gavel:before {
      content: "\0175";
    }

    
    .if-gear:before {
      content: "\0176";
    }

    
    .if-gears:before {
      content: "\0177";
    }

    
    .if-gift:before {
      content: "\0178";
    }

    
    .if-girl:before {
      content: "\0179";
    }

    
    .if-glass:before {
      content: "\0180";
    }

    
    .if-globe:before {
      content: "\0181";
    }

    
    .if-graduation:before {
      content: "\0182";
    }

    
    .if-group:before {
      content: "\0183";
    }

    
    .if-hand-lizard-o:before {
      content: "\0184";
    }

    
    .if-hand-paper-o:before {
      content: "\0185";
    }

    
    .if-hand-peace-o:before {
      content: "\0186";
    }

    
    .if-hand-pointer-o:before {
      content: "\0187";
    }

    
    .if-hand-rock-o:before {
      content: "\0188";
    }

    
    .if-hand-scissor-o:before {
      content: "\0189";
    }

    
    .if-hand-shake-o:before {
      content: "\0190";
    }

    
    .if-hand-spock-o:before {
      content: "\0191";
    }

    
    .if-hand-stop-o:before {
      content: "\0192";
    }

    
    .if-hard-of-hearing:before {
      content: "\0193";
    }

    
    .if-hashtag:before {
      content: "\0194";
    }

    
    .if-hdd:before {
      content: "\0195";
    }

    
    .if-headphones:before {
      content: "\0196";
    }

    
    .if-heart:before {
      content: "\0197";
    }

    
    .if-heart-beat:before {
      content: "\0198";
    }

    
    .if-heart-o:before {
      content: "\0199";
    }

    
    .if-history:before {
      content: "\0200";
    }

    
    .if-home:before {
      content: "\0201";
    }

    
    .if-hotel:before {
      content: "\0202";
    }

    
    .if-hour-glass-1:before {
      content: "\0203";
    }

    
    .if-hour-glass-2:before {
      content: "\0204";
    }

    
    .if-hour-glass-3:before {
      content: "\0205";
    }

    
    .if-hourglass-4:before {
      content: "\0206";
    }

    
    .if-hourglass-5:before {
      content: "\0207";
    }

    
    .if-hourglass-empty:before {
      content: "\0208";
    }

    
    .if-hour-glass-end:before {
      content: "\0209";
    }

    
    .if-hourglass-start:before {
      content: "\0210";
    }

    
    .if-iconfamous:before {
      content: "\0211";
    }

    
    .if-i-cursor:before {
      content: "\0212";
    }

    
    .if-id-card:before {
      content: "\0213";
    }

    
    .if-id-card-badge:before {
      content: "\0214";
    }

    
    .if-id-card-o:before {
      content: "\0215";
    }

    
    .if-inbox:before {
      content: "\0216";
    }

    
    .if-industry:before {
      content: "\0217";
    }

    
    .if-info-:before {
      content: "\0218";
    }

    
    .if-info-circle:before {
      content: "\0219";
    }

    
    .if-institute:before {
      content: "\0220";
    }

    
    .if-justice:before {
      content: "\0221";
    }

    
    .if-key:before {
      content: "\0222";
    }

    
    .if-keyboard:before {
      content: "\0223";
    }

    
    .if-language:before {
      content: "\0224";
    }

    
    .if-laptop:before {
      content: "\0225";
    }

    
    .if-leaf:before {
      content: "\0226";
    }

    
    .if-lemon-o:before {
      content: "\0227";
    }

    
    .if-level-down:before {
      content: "\0228";
    }

    
    .if-level-up:before {
      content: "\0229";
    }

    
    .if-license-o:before {
      content: "\0230";
    }

    
    .if-license:before {
      content: "\0231";
    }

    
    .if-life-buoy:before {
      content: "\0232";
    }

    
    .if-life-ring:before {
      content: "\0233";
    }

    
    .if-life-saver:before {
      content: "\0234";
    }

    
    .if-lightbulb-o:before {
      content: "\0235";
    }

    
    .if-line-chart:before {
      content: "\0236";
    }

    
    .if-linkedin:before {
      content: "\0237";
    }

    
    .if-liwebdesign:before {
      content: "\0238";
    }

    
    .if-location-arrow:before {
      content: "\0239";
    }

    
    .if-location-pin:before {
      content: "\0240";
    }

    
    .if-lock:before {
      content: "\0241";
    }

    
    .if-longisland:before {
      content: "\0242";
    }

    
    .if-low-vision:before {
      content: "\0243";
    }

    
    .if-magic:before {
      content: "\0244";
    }

    
    .if-magnet:before {
      content: "\0245";
    }

    
    .if-male:before {
      content: "\0246";
    }

    
    .if-map:before {
      content: "\0247";
    }

    
    .if-map-marker:before {
      content: "\0248";
    }

    
    .if-map-o:before {
      content: "\0249";
    }

    
    .if-map-sign:before {
      content: "\0250";
    }

    
    .if-meh-o:before {
      content: "\0251";
    }

    
    .if-microchip:before {
      content: "\0252";
    }

    
    .if-microphone:before {
      content: "\0253";
    }

    
    .if-microphone-slash:before {
      content: "\0254";
    }

    
    .if-minus:before {
      content: "\0255";
    }

    
    .if-minus-circle:before {
      content: "\0256";
    }

    
    .if-minus-square:before {
      content: "\0257";
    }

    
    .if-minus-square-o:before {
      content: "\0258";
    }

    
    .if-mobile-phone:before {
      content: "\0259";
    }

    
    .if-money:before {
      content: "\0260";
    }

    
    .if-moon:before {
      content: "\0261";
    }

    
    .if-moon-o:before {
      content: "\0262";
    }

    
    .if-mortar-board:before {
      content: "\0263";
    }

    
    .if-motorcycle:before {
      content: "\0264";
    }

    
    .if-mouse-pointer:before {
      content: "\0265";
    }

    
    .if-music:before {
      content: "\0266";
    }

    
    .if-navicon:before {
      content: "\0267";
    }

    
    .if-newspaper:before {
      content: "\0268";
    }

    
    .if-object-group:before {
      content: "\0269";
    }

    
    .if-object-ungroup:before {
      content: "\0270";
    }

    
    .if-paint-brush:before {
      content: "\0271";
    }

    
    .if-paper-plane:before {
      content: "\0272";
    }

    
    .if-paper-plane-o:before {
      content: "\0273";
    }

    
    .if-paw:before {
      content: "\0274";
    }

    
    .if-pencil:before {
      content: "\0275";
    }

    
    .if-pencil-square:before {
      content: "\0276";
    }

    
    .if-pencil-square-o:before {
      content: "\0277";
    }

    
    .if-percent:before {
      content: "\0278";
    }

    
    .if-phone:before {
      content: "\0279";
    }

    
    .if-phone-square:before {
      content: "\0280";
    }

    
    .if-pie-chart:before {
      content: "\0281";
    }

    
    .if-plane:before {
      content: "\0282";
    }

    
    .if-plug:before {
      content: "\0283";
    }

    
    .if-plus:before {
      content: "\0284";
    }

    
    .if-plus-circle:before {
      content: "\0285";
    }

    
    .if-plus-square:before {
      content: "\0286";
    }

    
    .if-plus-square-o:before {
      content: "\0287";
    }

    
    .if-podcast:before {
      content: "\0288";
    }

    
    .if-power:before {
      content: "\0289";
    }

    
    .if-print:before {
      content: "\0290";
    }

    
    .if-puzzle-piece:before {
      content: "\0291";
    }

    
    .if-qrcode:before {
      content: "\0292";
    }

    
    .if-question:before {
      content: "\0293";
    }

    
    .if-question-circle:before {
      content: "\0294";
    }

    
    .if-question-circle-o:before {
      content: "\0295";
    }

    
    .if-quote-left:before {
      content: "\0296";
    }

    
    .if-quote-right:before {
      content: "\0297";
    }

    
    .if-random:before {
      content: "\0298";
    }

    
    .if-recycle:before {
      content: "\0299";
    }

    
    .if-refresh:before {
      content: "\0300";
    }

    
    .if-registered:before {
      content: "\0301";
    }

    
    .if-remove:before {
      content: "\0302";
    }

    
    .if-reorder:before {
      content: "\0303";
    }

    
    .if-reply:before {
      content: "\0304";
    }

    
    .if-reply-all:before {
      content: "\0305";
    }

    
    .if-retweet:before {
      content: "\0306";
    }

    
    .if-road:before {
      content: "\0307";
    }

    
    .if-rocket:before {
      content: "\0308";
    }

    
    .if-rss:before {
      content: "\0309";
    }

    
    .if-rss-square:before {
      content: "\0310";
    }

    
    .if-search:before {
      content: "\0311";
    }

    
    .if-search-minus:before {
      content: "\0312";
    }

    
    .if-search-plus:before {
      content: "\0313";
    }

    
    .if-send:before {
      content: "\0314";
    }

    
    .if-send-o:before {
      content: "\0315";
    }

    
    .if-server:before {
      content: "\0316";
    }

    
    .if-share:before {
      content: "\0317";
    }

    
    .if-share-alt:before {
      content: "\0318";
    }

    
    .if-share-alt-square:before {
      content: "\0319";
    }

    
    .if-share-square:before {
      content: "\0320";
    }

    
    .if-share-square-o:before {
      content: "\0321";
    }

    
    .if-shield:before {
      content: "\0322";
    }

    
    .if-ship:before {
      content: "\0323";
    }

    
    .if-shopping-bag:before {
      content: "\0324";
    }

    
    .if-shopping-basket:before {
      content: "\0325";
    }

    
    .if-shopping-cart:before {
      content: "\0326";
    }

    
    .if-shower:before {
      content: "\0327";
    }

    
    .if-signal:before {
      content: "\0328";
    }

    
    .if-sign-in:before {
      content: "\0329";
    }

    
    .if-signing:before {
      content: "\0330";
    }

    
    .if-sign-language:before {
      content: "\0331";
    }

    
    .if-sign-out:before {
      content: "\0332";
    }

    
    .if-sitemap:before {
      content: "\0333";
    }

    
    .if-slider:before {
      content: "\0334";
    }

    
    .if-smile-o:before {
      content: "\0335";
    }

    
    .if-snowflake:before {
      content: "\0336";
    }

    
    .if-soccer-ball-o:before {
      content: "\0337";
    }

    
    .if-sort:before {
      content: "\0338";
    }

    
    .if-sort-amount-asc:before {
      content: "\0339";
    }

    
    .if-sort-amount-dsc:before {
      content: "\0340";
    }

    
    .if-sort-asc:before {
      content: "\0341";
    }

    
    .if-sort-a-to-z-asc:before {
      content: "\0342";
    }

    
    .if-sort-a-to-z--des:before {
      content: "\0343";
    }

    
    .if-sort-des:before {
      content: "\0344";
    }

    
    .if-sort-down:before {
      content: "\0345";
    }

    
    .if-sort-numeric-asc:before {
      content: "\0346";
    }

    
    .if-sort-numeric-dsc:before {
      content: "\0347";
    }

    
    .if-sort-up:before {
      content: "\0348";
    }

    
    .if-space-shuttle:before {
      content: "\0349";
    }

    
    .if-spinner:before {
      content: "\0350";
    }

    
    .if-spoon:before {
      content: "\0351";
    }

    
    .if-square:before {
      content: "\0352";
    }

    
    .if-square-check:before {
      content: "\0353";
    }

    
    .if-square-o:before {
      content: "\0354";
    }

    
    .if-star:before {
      content: "\0355";
    }

    
    .if-star-half:before {
      content: "\0356";
    }

    
    .if-star-half-empty:before {
      content: "\0357";
    }

    
    .if-star-o:before {
      content: "\0358";
    }

    
    .if-sticky-note:before {
      content: "\0359";
    }

    
    .if-sticky-note-o:before {
      content: "\0360";
    }

    
    .if-street-view:before {
      content: "\0361";
    }

    
    .if-suitcase:before {
      content: "\0362";
    }

    
    .if-sun:before {
      content: "\0363";
    }

    
    .if-support:before {
      content: "\0364";
    }

    
    .if-tablet:before {
      content: "\0365";
    }

    
    .if-tachometer:before {
      content: "\0366";
    }

    
    .if-tag:before {
      content: "\0367";
    }

    
    .if-tags:before {
      content: "\0368";
    }

    
    .if-tasks:before {
      content: "\0369";
    }

    
    .if-taxi:before {
      content: "\0370";
    }

    
    .if-television:before {
      content: "\0371";
    }

    
    .if-terminal:before {
      content: "\0372";
    }

    
    .if-thermometer:before {
      content: "\0373";
    }

    
    .if-thermometer-full:before {
      content: "\0374";
    }

    
    .if-thermometer-half:before {
      content: "\0375";
    }

    
    .if-thermometer-quarter:before {
      content: "\0376";
    }

    
    .if-thermometer-three-quarter:before {
      content: "\0377";
    }

    
    .if-thumb-back:before {
      content: "\0378";
    }

    
    .if-thumbs-down:before {
      content: "\0379";
    }

    
    .if-thumbs-down-o:before {
      content: "\0380";
    }

    
    .if-thumbs-up:before {
      content: "\0381";
    }

    
    .if-thumbs-up-o:before {
      content: "\0382";
    }

    
    .if-ticket:before {
      content: "\0383";
    }

    
    .if-time:before {
      content: "\0384";
    }

    
    .if-time-circle:before {
      content: "\0385";
    }

    
    .if-time-circle-o:before {
      content: "\0386";
    }

    
    .if-time-rectangle:before {
      content: "\0387";
    }

    
    .if-time-rectangle-o:before {
      content: "\0388";
    }

    
    .if-toggle-down:before {
      content: "\0389";
    }

    
    .if-toggle-left:before {
      content: "\0390";
    }

    
    .if-toggle-off:before {
      content: "\0391";
    }

    
    .if-toggle-on:before {
      content: "\0392";
    }

    
    .if-toggle-right:before {
      content: "\0393";
    }

    
    .if-toggle-up:before {
      content: "\0394";
    }

    
    .if-trademark:before {
      content: "\0395";
    }

    
    .if-trash:before {
      content: "\0396";
    }

    
    .if-trash-o:before {
      content: "\0397";
    }

    
    .if-tree:before {
      content: "\0398";
    }

    
    .if-trophy:before {
      content: "\0399";
    }

    
    .if-truck:before {
      content: "\0400";
    }

    
    .if-tty:before {
      content: "\0401";
    }

    
    .if-tv:before {
      content: "\0402";
    }

    
    .if-twitter:before {
      content: "\0403";
    }

    
    .if-umbrella:before {
      content: "\0404";
    }

    
    .if-universal-access:before {
      content: "\0405";
    }

    
    .if-university:before {
      content: "\0406";
    }

    
    .if-unlock:before {
      content: "\0407";
    }

    
    .if-unlock-alt:before {
      content: "\0408";
    }

    
    .if-unsorted:before {
      content: "\0409";
    }

    
    .if-upload:before {
      content: "\0410";
    }

    
    .if-user:before {
      content: "\0411";
    }

    
    .if-user-circle:before {
      content: "\0412";
    }

    
    .if-user-circle-o:before {
      content: "\0413";
    }

    
    .if-user-cross:before {
      content: "\0414";
    }

    
    .if-user-o:before {
      content: "\0415";
    }

    
    .if-user-plus:before {
      content: "\0416";
    }

    
    .if-users:before {
      content: "\0417";
    }

    
    .if-user-secret:before {
      content: "\0418";
    }

    
    .if-vcard:before {
      content: "\0419";
    }

    
    .if-vcard-o:before {
      content: "\0420";
    }

    
    .if-video-camera:before {
      content: "\0421";
    }

    
    .if-volume-control-phone:before {
      content: "\0422";
    }

    
    .if-volume-down:before {
      content: "\0423";
    }

    
    .if-volume-off:before {
      content: "\0424";
    }

    
    .if-volume-up:before {
      content: "\0425";
    }

    
    .if-warning:before {
      content: "\0426";
    }

    
    .if-wheel-chair:before {
      content: "\0427";
    }

    
    .if-wheel-chair-alt:before {
      content: "\0428";
    }

    
    .if-wifi:before {
      content: "\0429";
    }

    
    .if-window-close:before {
      content: "\0430";
    }

    
    .if-window-close-o:before {
      content: "\0431";
    }

    
    .if-window-maximize:before {
      content: "\0432";
    }

    
    .if-window-minimize:before {
      content: "\0433";
    }

    
    .if-window-restore:before {
      content: "\0434";
    }

    
    .if-wrench:before {
      content: "\0435";
    }

    