@font-face {
  font-family: 'IconFamous';
  src: url("font/IconFamous.woff2") format("woff2"), url("font/IconFamous.otf") format("opentype");
  font-style: normal;
  font-weight: normal; }

.if {
  font: normal normal normal 14px/1 IconFamous;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: inline-block; }

.if-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.if-2x {
  font-size: 2em; }

.if-3x {
  font-size: 3em; }

.if-4x {
  font-size: 4em; }

.if-5x {
  font-size: 5em; }

.if-spin {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear; }

.if-pulse {
  -webkit-animation: spin 1s infinite steps(8);
  animation: spin 1s infinite steps(8); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

    .if-address-book-o:before {
      content: "\5000";
    }

    
    .if-address-book:before {
      content: "\5001";
    }

    
    .if-address-card:before {
      content: "\5002";
    }

    
    .if-adjust:before {
      content: "\5003";
    }

    
    .if-admin-user:before {
      content: "\5004";
    }

    
    .if-admin-users:before {
      content: "\5005";
    }

    
    .if-area-chart:before {
      content: "\5006";
    }

    
    .if-arrow-left-right:before {
      content: "\5007";
    }

    
    .if-arrows:before {
      content: "\5008";
    }

    
    .if-arrow-up-down:before {
      content: "\5009";
    }

    
    .if-asl-interpreting:before {
      content: "\5010";
    }

    
    .if-assistive-listening-systems:before {
      content: "\5011";
    }

    
    .if-asterisk:before {
      content: "\5012";
    }

    
    .if-at:before {
      content: "\5013";
    }

    
    .if-audio-description:before {
      content: "\5014";
    }

    
    .if-balance-scale:before {
      content: "\5015";
    }

    
    .if-ban:before {
      content: "\5016";
    }

    
    .if-bank:before {
      content: "\5017";
    }

    
    .if-bar-chart:before {
      content: "\5018";
    }

    
    .if-bar-code:before {
      content: "\5019";
    }

    
    .if-bars:before {
      content: "\5020";
    }

    
    .if-bath:before {
      content: "\5021";
    }

    
    .if-battery-empty:before {
      content: "\5022";
    }

    
    .if-battery-full:before {
      content: "\5023";
    }

    
    .if-battery-quartz:before {
      content: "\5024";
    }

    
    .if-bed:before {
      content: "\5025";
    }

    
    .if-beer:before {
      content: "\5026";
    }

    
    .if-bell-o:before {
      content: "\5027";
    }

    
    .if-bell:before {
      content: "\5028";
    }

    
    .if-bell-slash-o:before {
      content: "\5029";
    }

    
    .if-bell-slash:before {
      content: "\5030";
    }

    
    .if-bicycle:before {
      content: "\5031";
    }

    
    .if-binoculars:before {
      content: "\5032";
    }

    
    .if-birthday-cake:before {
      content: "\5033";
    }

    
    .if-blind:before {
      content: "\5034";
    }

    
    .if-bluetooth:before {
      content: "\5035";
    }

    
    .if-bluetooth-square:before {
      content: "\5036";
    }

    
    .if-bolt-o:before {
      content: "\5037";
    }

    
    .if-bolt:before {
      content: "\5038";
    }

    
    .if-bomb:before {
      content: "\5039";
    }

    
    .if-book:before {
      content: "\5040";
    }

    
    .if-bookmark:before {
      content: "\5041";
    }

    
    .if-bookmark-o:before {
      content: "\5042";
    }

    
    .if-boom-cdn:before {
      content: "\5043";
    }

    
    .if-braille:before {
      content: "\5044";
    }

    
    .if-briefcase:before {
      content: "\5045";
    }

    
    .if-bug:before {
      content: "\5046";
    }

    
    .if-building:before {
      content: "\5047";
    }

    
    .if-building-o:before {
      content: "\5048";
    }

    
    .if-bulleyes:before {
      content: "\5049";
    }

    
    .if-bullhorn:before {
      content: "\5050";
    }

    
    .if-bus:before {
      content: "\5051";
    }

    
    .if-cab:before {
      content: "\5052";
    }

    
    .if-calculator:before {
      content: "\5053";
    }

    
    .if-calendar-cross:before {
      content: "\5054";
    }

    
    .if-calendar-e:before {
      content: "\5055";
    }

    
    .if-calendar-f:before {
      content: "\5056";
    }

    
    .if-calendar-minus:before {
      content: "\5057";
    }

    
    .if-calendar-plus:before {
      content: "\5058";
    }

    
    .if-calendar-tick:before {
      content: "\5059";
    }

    
    .if-camera:before {
      content: "\5060";
    }

    
    .if-camera-retro:before {
      content: "\5061";
    }

    
    .if-car:before {
      content: "\5062";
    }

    
    .if-caret-square-o-down:before {
      content: "\5063";
    }

    
    .if-caret-square-o-left:before {
      content: "\5064";
    }

    
    .if-caret-square-o-right:before {
      content: "\5065";
    }

    
    .if-caret-square-o-right-square:before {
      content: "\5066";
    }

    
    .if-caret-square-o-up:before {
      content: "\5067";
    }

    
    .if-cart-arrow-down:before {
      content: "\5068";
    }

    
    .if-cart-arrow-plus:before {
      content: "\5069";
    }

    
    .if-cc:before {
      content: "\5070";
    }

    
    .if-certificate:before {
      content: "\5071";
    }

    
    .if-check:before {
      content: "\5072";
    }

    
    .if-check-square:before {
      content: "\5073";
    }

    
    .if-child:before {
      content: "\5074";
    }

    
    .if-circle:before {
      content: "\5075";
    }

    
    .if-circle-e:before {
      content: "\5076";
    }

    
    .if-circle-o-notch:before {
      content: "\5077";
    }

    
    .if-circle-slim:before {
      content: "\5078";
    }

    
    .if-circular-check:before {
      content: "\5079";
    }

    
    .if-circular-check-o:before {
      content: "\5080";
    }

    
    .if-clock:before {
      content: "\5081";
    }

    
    .if-clone:before {
      content: "\5082";
    }

    
    .if-close:before {
      content: "\5083";
    }

    
    .if-cloud:before {
      content: "\5084";
    }

    
    .if-cloud-o:before {
      content: "\5085";
    }

    
    .if-cloud-upload:before {
      content: "\5086";
    }

    
    .if-code:before {
      content: "\5087";
    }

    
    .if-code-fork:before {
      content: "\5088";
    }

    
    .if-coffee:before {
      content: "\5089";
    }

    
    .if-cog:before {
      content: "\5090";
    }

    
    .if-cogs:before {
      content: "\5091";
    }

    
    .if-comment:before {
      content: "\5092";
    }

    
    .if-comment-dots:before {
      content: "\5093";
    }

    
    .if-comment-o:before {
      content: "\5094";
    }

    
    .if-comment-o-dots:before {
      content: "\5095";
    }

    
    .if-comments:before {
      content: "\5096";
    }

    
    .if-comments-o:before {
      content: "\5097";
    }

    
    .if-compass:before {
      content: "\5098";
    }

    
    .if-copyright:before {
      content: "\5099";
    }

    
    .if-creative-community:before {
      content: "\5100";
    }

    
    .if-credit-card:before {
      content: "\5101";
    }

    
    .if-credit-card-o:before {
      content: "\5102";
    }

    
    .if-crop:before {
      content: "\5103";
    }

    
    .if-crosshairs:before {
      content: "\5104";
    }

    
    .if-cube:before {
      content: "\5105";
    }

    
    .if-cubes:before {
      content: "\5106";
    }

    
    .if-cutlery:before {
      content: "\5107";
    }

    
    .if-dashboard:before {
      content: "\5108";
    }

    
    .if-data:before {
      content: "\5109";
    }

    
    .if-database-o:before {
      content: "\5110";
    }

    
    .if-database:before {
      content: "\5111";
    }

    
    .if-diamond:before {
      content: "\5112";
    }

    
    .if-dot-circle-o:before {
      content: "\5113";
    }

    
    .if-download:before {
      content: "\5114";
    }

    
    .if-download-arrow:before {
      content: "\5115";
    }

    
    .if-edit:before {
      content: "\5116";
    }

    
    .if-ellipsis-h:before {
      content: "\5117";
    }

    
    .if-ellipsis-v:before {
      content: "\5118";
    }

    
    .if-ellipsis-circle-h:before {
      content: "\5119";
    }

    
    .if-ellipsis-circle-v:before {
      content: "\5120";
    }

    
    .if-envelop-o:before {
      content: "\5121";
    }

    
    .if-envelop:before {
      content: "\5122";
    }

    
    .if-envelope-square:before {
      content: "\5123";
    }

    
    .if-envelop-open:before {
      content: "\5124";
    }

    
    .if-envelop-open-o:before {
      content: "\5125";
    }

    
    .if-eraser:before {
      content: "\5126";
    }

    
    .if-exchange:before {
      content: "\5127";
    }

    
    .if-exclamation:before {
      content: "\5128";
    }

    
    .if-exclamation-circle:before {
      content: "\5129";
    }

    
    .if-exclamation-triangle:before {
      content: "\5130";
    }

    
    .if-external-link:before {
      content: "\5131";
    }

    
    .if-external-link-square:before {
      content: "\5132";
    }

    
    .if-eye:before {
      content: "\5133";
    }

    
    .if-eyedropper:before {
      content: "\5134";
    }

    
    .if-eye-slash:before {
      content: "\5135";
    }

    
    .if-facebook:before {
      content: "\5136";
    }

    
    .if-famous-internet-solutions:before {
      content: "\5137";
    }

    
    .if-famous-ui:before {
      content: "\5138";
    }

    
    .if-famous-ui-o:before {
      content: "\5139";
    }

    
    .if-fax:before {
      content: "\5140";
    }

    
    .if-feed:before {
      content: "\5141";
    }

    
    .if-fighter-jet:before {
      content: "\5142";
    }

    
    .if-file-archive:before {
      content: "\5143";
    }

    
    .if-file-audio:before {
      content: "\5144";
    }

    
    .if-file-code:before {
      content: "\5145";
    }

    
    .if-file-excel:before {
      content: "\5146";
    }

    
    .if-file-image:before {
      content: "\5147";
    }

    
    .if-file-movie:before {
      content: "\5148";
    }

    
    .if-file-pdf:before {
      content: "\5149";
    }

    
    .if-file-photo:before {
      content: "\5150";
    }

    
    .if-file-picture:before {
      content: "\5151";
    }

    
    .if-file-powerpoint:before {
      content: "\5152";
    }

    
    .if-file-word:before {
      content: "\5153";
    }

    
    .if-file-zip:before {
      content: "\5154";
    }

    
    .if-film:before {
      content: "\5155";
    }

    
    .if-filter:before {
      content: "\5156";
    }

    
    .if-fire:before {
      content: "\5157";
    }

    
    .if-fire-exhaust:before {
      content: "\5158";
    }

    
    .if-flag:before {
      content: "\5159";
    }

    
    .if-flag-checkered:before {
      content: "\5160";
    }

    
    .if-flag-o:before {
      content: "\5161";
    }

    
    .if-flash:before {
      content: "\5162";
    }

    
    .if-flash-o:before {
      content: "\5163";
    }

    
    .if-flask:before {
      content: "\5164";
    }

    
    .if-flask-empty:before {
      content: "\5165";
    }

    
    .if-folder:before {
      content: "\5166";
    }

    
    .if-folder-o:before {
      content: "\5167";
    }

    
    .if-folder-open:before {
      content: "\5168";
    }

    
    .if-folder-open-o:before {
      content: "\5169";
    }

    
    .if-football:before {
      content: "\5170";
    }

    
    .if-forward:before {
      content: "\5171";
    }

    
    .if-frown:before {
      content: "\5172";
    }

    
    .if-gameboard:before {
      content: "\5173";
    }

    
    .if-gavel:before {
      content: "\5174";
    }

    
    .if-gear:before {
      content: "\5175";
    }

    
    .if-gears:before {
      content: "\5176";
    }

    
    .if-gift:before {
      content: "\5177";
    }

    
    .if-girl:before {
      content: "\5178";
    }

    
    .if-glass:before {
      content: "\5179";
    }

    
    .if-globe:before {
      content: "\5180";
    }

    
    .if-graduation:before {
      content: "\5181";
    }

    
    .if-group:before {
      content: "\5182";
    }

    
    .if-hand-lizard-o:before {
      content: "\5183";
    }

    
    .if-hand-paper-o:before {
      content: "\5184";
    }

    
    .if-hand-peace-o:before {
      content: "\5185";
    }

    
    .if-hand-pointer-o:before {
      content: "\5186";
    }

    
    .if-hand-rock-o:before {
      content: "\5187";
    }

    
    .if-hand-scissor-o:before {
      content: "\5188";
    }

    
    .if-hand-shake-o:before {
      content: "\5189";
    }

    
    .if-hand-spock-o:before {
      content: "\5190";
    }

    
    .if-hand-stop-o:before {
      content: "\5191";
    }

    
    .if-hard-of-hearing:before {
      content: "\5192";
    }

    
    .if-hashtag:before {
      content: "\5193";
    }

    
    .if-hdd:before {
      content: "\5194";
    }

    
    .if-headphones:before {
      content: "\5195";
    }

    
    .if-heart:before {
      content: "\5196";
    }

    
    .if-heart-beat:before {
      content: "\5197";
    }

    
    .if-heart-o:before {
      content: "\5198";
    }

    
    .if-history:before {
      content: "\5199";
    }

    
    .if-home:before {
      content: "\5200";
    }

    
    .if-hotel:before {
      content: "\5201";
    }

    
    .if-hour-glass-1:before {
      content: "\5202";
    }

    
    .if-hour-glass-2:before {
      content: "\5203";
    }

    
    .if-hour-glass-3:before {
      content: "\5204";
    }

    
    .if-hourglass-4:before {
      content: "\5205";
    }

    
    .if-hourglass-5:before {
      content: "\5206";
    }

    
    .if-hourglass-empty:before {
      content: "\5207";
    }

    
    .if-hour-glass-end:before {
      content: "\5208";
    }

    
    .if-hourglass-start:before {
      content: "\5209";
    }

    
    .if-icon-famous:before {
      content: "\5210";
    }

    
    .if-icon-famous-o:before {
      content: "\5211";
    }

    
    .if-i-cursor:before {
      content: "\5212";
    }

    
    .if-id-card:before {
      content: "\5213";
    }

    
    .if-id-card-badge:before {
      content: "\5214";
    }

    
    .if-id-card-o:before {
      content: "\5215";
    }

    
    .if-inbox:before {
      content: "\5216";
    }

    
    .if-industry:before {
      content: "\5217";
    }

    
    .if-info-:before {
      content: "\5218";
    }

    
    .if-info-circle:before {
      content: "\5219";
    }

    
    .if-institute:before {
      content: "\5220";
    }

    
    .if-justice:before {
      content: "\5221";
    }

    
    .if-key:before {
      content: "\5222";
    }

    
    .if-keyboard:before {
      content: "\5223";
    }

    
    .if-language:before {
      content: "\5224";
    }

    
    .if-laptop:before {
      content: "\5225";
    }

    
    .if-leaf:before {
      content: "\5226";
    }

    
    .if-lemon-o:before {
      content: "\5227";
    }

    
    .if-level-down:before {
      content: "\5228";
    }

    
    .if-level-up:before {
      content: "\5229";
    }

    
    .if-license-o:before {
      content: "\5230";
    }

    
    .if-license:before {
      content: "\5231";
    }

    
    .if-life-buoy:before {
      content: "\5232";
    }

    
    .if-lightbulb-o:before {
      content: "\5233";
    }

    
    .if-line-chart:before {
      content: "\5234";
    }

    
    .if-linkedin:before {
      content: "\5235";
    }

    
    .if-location-arrow:before {
      content: "\5236";
    }

    
    .if-location-pin:before {
      content: "\5237";
    }

    
    .if-lock:before {
      content: "\5238";
    }

    
    .if-long-island:before {
      content: "\5239";
    }

    
    .if-long-island-webdesign:before {
      content: "\5240";
    }

    
    .if-low-vision:before {
      content: "\5241";
    }

    
    .if-magic:before {
      content: "\5242";
    }

    
    .if-magnet:before {
      content: "\5243";
    }

    
    .if-male:before {
      content: "\5244";
    }

    
    .if-map:before {
      content: "\5245";
    }

    
    .if-map-o:before {
      content: "\5246";
    }

    
    .if-map-sign:before {
      content: "\5247";
    }

    
    .if-meh-o:before {
      content: "\5248";
    }

    
    .if-microchip:before {
      content: "\5249";
    }

    
    .if-microphone:before {
      content: "\5250";
    }

    
    .if-microphone-slash:before {
      content: "\5251";
    }

    
    .if-minus:before {
      content: "\5252";
    }

    
    .if-minus-circle:before {
      content: "\5253";
    }

    
    .if-minus-square:before {
      content: "\5254";
    }

    
    .if-minus-square-o:before {
      content: "\5255";
    }

    
    .if-mobile-phone:before {
      content: "\5256";
    }

    
    .if-money:before {
      content: "\5257";
    }

    
    .if-moon:before {
      content: "\5258";
    }

    
    .if-moon-o:before {
      content: "\5259";
    }

    
    .if-mortar-board:before {
      content: "\5260";
    }

    
    .if-motorcycle:before {
      content: "\5261";
    }

    
    .if-mouse-pointer:before {
      content: "\5262";
    }

    
    .if-music:before {
      content: "\5263";
    }

    
    .if-navicon:before {
      content: "\5264";
    }

    
    .if-newspaper:before {
      content: "\5265";
    }

    
    .if-object-group:before {
      content: "\5266";
    }

    
    .if-object-ungroup:before {
      content: "\5267";
    }

    
    .if-paint-brush:before {
      content: "\5268";
    }

    
    .if-paper-plane:before {
      content: "\5269";
    }

    
    .if-paper-plane-o:before {
      content: "\5270";
    }

    
    .if-paw:before {
      content: "\5271";
    }

    
    .if-pencil:before {
      content: "\5272";
    }

    
    .if-pencil-square:before {
      content: "\5273";
    }

    
    .if-pencil-square-o:before {
      content: "\5274";
    }

    
    .if-percent:before {
      content: "\5275";
    }

    
    .if-phone:before {
      content: "\5276";
    }

    
    .if-phone-square:before {
      content: "\5277";
    }

    
    .if-pie-chart:before {
      content: "\5278";
    }

    
    .if-plane:before {
      content: "\5279";
    }

    
    .if-plug:before {
      content: "\5280";
    }

    
    .if-plus:before {
      content: "\5281";
    }

    
    .if-plus-circle:before {
      content: "\5282";
    }

    
    .if-plus-square:before {
      content: "\5283";
    }

    
    .if-plus-square-o:before {
      content: "\5284";
    }

    
    .if-podcast:before {
      content: "\5285";
    }

    
    .if-power:before {
      content: "\5286";
    }

    
    .if-print:before {
      content: "\5287";
    }

    
    .if-puzzle-piece:before {
      content: "\5288";
    }

    
    .if-qrcode:before {
      content: "\5289";
    }

    
    .if-question:before {
      content: "\5290";
    }

    
    .if-question-circle:before {
      content: "\5291";
    }

    
    .if-question-circle-o:before {
      content: "\5292";
    }

    
    .if-quote-left:before {
      content: "\5293";
    }

    
    .if-quote-right:before {
      content: "\5294";
    }

    
    .if-random:before {
      content: "\5295";
    }

    
    .if-recycle:before {
      content: "\5296";
    }

    
    .if-refresh:before {
      content: "\5297";
    }

    
    .if-registered:before {
      content: "\5298";
    }

    
    .if-remove:before {
      content: "\5299";
    }

    
    .if-reorder:before {
      content: "\5300";
    }

    
    .if-reply:before {
      content: "\5301";
    }

    
    .if-reply-all:before {
      content: "\5302";
    }

    
    .if-retweet:before {
      content: "\5303";
    }

    
    .if-road:before {
      content: "\5304";
    }

    
    .if-rocket:before {
      content: "\5305";
    }

    
    .if-rss-square:before {
      content: "\5306";
    }

    
    .if-search:before {
      content: "\5307";
    }

    
    .if-search-minus:before {
      content: "\5308";
    }

    
    .if-search-plus:before {
      content: "\5309";
    }

    
    .if-send:before {
      content: "\5310";
    }

    
    .if-send-o:before {
      content: "\5311";
    }

    
    .if-server:before {
      content: "\5312";
    }

    
    .if-share:before {
      content: "\5313";
    }

    
    .if-share-alt:before {
      content: "\5314";
    }

    
    .if-share-alt-square:before {
      content: "\5315";
    }

    
    .if-share-square:before {
      content: "\5316";
    }

    
    .if-share-square-o:before {
      content: "\5317";
    }

    
    .if-shield:before {
      content: "\5318";
    }

    
    .if-ship:before {
      content: "\5319";
    }

    
    .if-shopping-bag:before {
      content: "\5320";
    }

    
    .if-shopping-basket:before {
      content: "\5321";
    }

    
    .if-shopping-cart:before {
      content: "\5322";
    }

    
    .if-shower:before {
      content: "\5323";
    }

    
    .if-signal:before {
      content: "\5324";
    }

    
    .if-sign-in:before {
      content: "\5325";
    }

    
    .if-signing:before {
      content: "\5326";
    }

    
    .if-sign-language:before {
      content: "\5327";
    }

    
    .if-sign-out:before {
      content: "\5328";
    }

    
    .if-sitemap:before {
      content: "\5329";
    }

    
    .if-slider:before {
      content: "\5330";
    }

    
    .if-smile-o:before {
      content: "\5331";
    }

    
    .if-snowflake:before {
      content: "\5332";
    }

    
    .if-soccer-ball-o:before {
      content: "\5333";
    }

    
    .if-sort:before {
      content: "\5334";
    }

    
    .if-sort-amount-asc:before {
      content: "\5335";
    }

    
    .if-sort-amount-dsc:before {
      content: "\5336";
    }

    
    .if-sort-asc:before {
      content: "\5337";
    }

    
    .if-sort-a-to-z-asc:before {
      content: "\5338";
    }

    
    .if-sort-a-to-z--des:before {
      content: "\5339";
    }

    
    .if-sort-des:before {
      content: "\5340";
    }

    
    .if-sort-numeric-asc:before {
      content: "\5341";
    }

    
    .if-sort-numeric-dsc:before {
      content: "\5342";
    }

    
    .if-space-shuttle:before {
      content: "\5343";
    }

    
    .if-spinner:before {
      content: "\5344";
    }

    
    .if-spoon:before {
      content: "\5345";
    }

    
    .if-square:before {
      content: "\5346";
    }

    
    .if-square-check:before {
      content: "\5347";
    }

    
    .if-square-o:before {
      content: "\5348";
    }

    
    .if-star:before {
      content: "\5349";
    }

    
    .if-star-half:before {
      content: "\5350";
    }

    
    .if-star-half-empty:before {
      content: "\5351";
    }

    
    .if-star-o:before {
      content: "\5352";
    }

    
    .if-sticky-note:before {
      content: "\5353";
    }

    
    .if-sticky-note-o:before {
      content: "\5354";
    }

    
    .if-street-view:before {
      content: "\5355";
    }

    
    .if-suitcase:before {
      content: "\5356";
    }

    
    .if-sun:before {
      content: "\5357";
    }

    
    .if-support:before {
      content: "\5358";
    }

    
    .if-tablet:before {
      content: "\5359";
    }

    
    .if-tachometer:before {
      content: "\5360";
    }

    
    .if-tag:before {
      content: "\5361";
    }

    
    .if-tags:before {
      content: "\5362";
    }

    
    .if-tasks:before {
      content: "\5363";
    }

    
    .if-taxi:before {
      content: "\5364";
    }

    
    .if-television:before {
      content: "\5365";
    }

    
    .if-terminal:before {
      content: "\5366";
    }

    
    .if-thermometer:before {
      content: "\5367";
    }

    
    .if-thermometer-full:before {
      content: "\5368";
    }

    
    .if-thermometer-half:before {
      content: "\5369";
    }

    
    .if-thermometer-quarter:before {
      content: "\5370";
    }

    
    .if-thermometer-three-quarter:before {
      content: "\5371";
    }

    
    .if-thumb-back:before {
      content: "\5372";
    }

    
    .if-thumbs-down:before {
      content: "\5373";
    }

    
    .if-thumbs-down-o:before {
      content: "\5374";
    }

    
    .if-thumbs-up:before {
      content: "\5375";
    }

    
    .if-thumbs-up-o:before {
      content: "\5376";
    }

    
    .if-ticket:before {
      content: "\5377";
    }

    
    .if-time:before {
      content: "\5378";
    }

    
    .if-time-circle:before {
      content: "\5379";
    }

    
    .if-time-circle-o:before {
      content: "\5380";
    }

    
    .if-time-rectangle:before {
      content: "\5381";
    }

    
    .if-time-rectangle-o:before {
      content: "\5382";
    }

    
    .if-toggle-down:before {
      content: "\5383";
    }

    
    .if-toggle-left:before {
      content: "\5384";
    }

    
    .if-toggle-off:before {
      content: "\5385";
    }

    
    .if-toggle-on:before {
      content: "\5386";
    }

    
    .if-toggle-right:before {
      content: "\5387";
    }

    
    .if-toggle-up:before {
      content: "\5388";
    }

    
    .if-trademark:before {
      content: "\5389";
    }

    
    .if-trash:before {
      content: "\5390";
    }

    
    .if-trash-o:before {
      content: "\5391";
    }

    
    .if-tree:before {
      content: "\5392";
    }

    
    .if-trophy:before {
      content: "\5393";
    }

    
    .if-truck:before {
      content: "\5394";
    }

    
    .if-tty:before {
      content: "\5395";
    }

    
    .if-tv:before {
      content: "\5396";
    }

    
    .if-twitter:before {
      content: "\5397";
    }

    
    .if-umbrella:before {
      content: "\5398";
    }

    
    .if-universal-access:before {
      content: "\5399";
    }

    
    .if-university:before {
      content: "\5400";
    }

    
    .if-unlock:before {
      content: "\5401";
    }

    
    .if-unlock-alt:before {
      content: "\5402";
    }

    
    .if-unsorted:before {
      content: "\5403";
    }

    
    .if-upload:before {
      content: "\5404";
    }

    
    .if-user:before {
      content: "\5405";
    }

    
    .if-user-circle:before {
      content: "\5406";
    }

    
    .if-user-circle-o:before {
      content: "\5407";
    }

    
    .if-user-cross:before {
      content: "\5408";
    }

    
    .if-user-o:before {
      content: "\5409";
    }

    
    .if-user-plus:before {
      content: "\5410";
    }

    
    .if-users:before {
      content: "\5411";
    }

    
    .if-user-secret:before {
      content: "\5412";
    }

    
    .if-vcard:before {
      content: "\5413";
    }

    
    .if-vcard-o:before {
      content: "\5414";
    }

    
    .if-video-camera:before {
      content: "\5415";
    }

    
    .if-volume-control-phone:before {
      content: "\5416";
    }

    
    .if-volume-down:before {
      content: "\5417";
    }

    
    .if-volume-off:before {
      content: "\5418";
    }

    
    .if-volume-up:before {
      content: "\5419";
    }

    
    .if-warning:before {
      content: "\5420";
    }

    
    .if-wheel-chair:before {
      content: "\5421";
    }

    
    .if-wheel-chair-alt:before {
      content: "\5422";
    }

    
    .if-wifi:before {
      content: "\5423";
    }

    
    .if-window-close:before {
      content: "\5424";
    }

    
    .if-window-close-o:before {
      content: "\5425";
    }

    
    .if-window-maximize:before {
      content: "\5426";
    }

    
    .if-window-minimize:before {
      content: "\5427";
    }

    
    .if-window-restore:before {
      content: "\5428";
    }

    
    .if-wrench:before {
      content: "\5429";
    }

    